<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKYGRAM</title>
  <link href="static/css/styles.min.css" rel="stylesheet">
</head>
<body>
  <header class="container header">
    <div class="header__wrapper">
      <a href="/" class="header__logo-link">
        <svg class="header__logo" width="177" height="26">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skyprogram"></use>
        </svg>
      </a>

    </div>
  </header>
<h3>{{ error }}</h3>

</body>
</html>